<%
 title "#{current_user.name.titleize} - Profile"
 meta_description "#{app_title} - #{current_user.name.titleize} - Profile"
 heading "#{current_user.name.titleize} - Profile"
 pclass "profile-page"
 heading_desc ""
%>

<div class="section section-about-us">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 ml-auto mr-auto">
        <div class="">
          <% if current_user.image.nil? %>
            <%= image_tag('replace_me/400x450.jpg') %>
          <% else %>
            <%= image_tag current_user.image %>
          <% end %>
        </div>
        <div class="list-group list-group-border-0 g-mb-40">
          <%= link_to '#overview', class: "list-group-item list-group-item-action justify-content-between active", "data-toggle" => "tab", role: "tablist" do %>
            <%= icon('fas', 'home') %> Overall
          <% end %>
          <%= link_to '#settings', class: "list-group-item list-group-item-action justify-content-between", "data-toggle" => "tab", role: "tablist" do %>
            <%= icon('fas', 'cogs') %>   Settings
            <span class="badge badge-success">2</span>
          <% end %>
          <%= link_to '#security', class: "list-group-item list-group-item-action justify-content-between", "data-toggle" => "tab", role: "tablist" do %>
            <%= icon('fas', 'shield-alt') %>   Security Settings
          <% end %>
          <%= link_to '#payment', class: "list-group-item list-group-item-action justify-content-between", "data-toggle" => "tab", role: "tablist" do %>
            <%= icon('fas', 'credit-card') %>   Payment Settings
          <% end %>
          <%= link_to '#notifications', class: "list-group-item list-group-item-action justify-content-between", "data-toggle" => "tab", role: "tablist" do %>
            <%= icon('far', 'envelope') %>   Notifications Settings
          <% end %>
        </div>
        
      </div>
      <div class="col-lg-9">
        <div class="tab-content">
          <div class="tab-pane active show" id="overview">
            <%= render 'profiles/partials/overview' %>
          </div>

          <div class="tab-pane" id="settings">
            <%= render 'profiles/partials/settings_edit' %>
          </div>

          <div class="tab-pane" id="security">
            <%= render 'profiles/partials/settings_security' %>
          </div>

          <div class="tab-pane" id="payment">
            <%= render 'profiles/partials/settings_payment' %>
          </div>

          <div class="tab-pane" id="notifications">
            <%= render 'profiles/partials/settings_notifications' %>
          </div>
      </div>
    </div>
  </div>
</div>
