 <!-- Fixed navbar -->
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <%= link_to "#{ENV['COMPOSE_PROJECT_NAME']}", root_path, class: "navbar-brand" %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item <%= active_class?(root_path) %>">
        <%= link_to root_path, class: "nav-link" do %>
          Home <span class="sr-only">(current)</span>
        <% end %>
      </li>
      <li class="nav-item <%= active_class?(about_us_path) %>">
        <%= link_to about_us_path, class: "nav-link" do %>
          About Us <span class="sr-only">(current)</span>
        <% end %>
      </li>
      <li class="nav-item <%= active_class?(contact_path) %>">
        <%= link_to contact_path, class: "nav-link" do %>
          Contact Us <span class="sr-only">(current)</span>
        <% end %>
      </li>
      <li class="nav-item <%= active_class?(privacy_path) %>">
        <%= link_to privacy_path, class: "nav-link" do %>
          Privacy <span class="sr-only">(current)</span>
        <% end %>
      </li>
    </ul>
    
    <form class="form-inline mt-2 mt-md-0 disabled">
      <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search" disabled>
      <button class="btn btn-outline-info my-2 my-sm-0" type="submit" disabled>Search</button>
    </form>

    <% if user_signed_in? %>
      <%= link_to('Logout', destroy_user_session_path, method: :delete, class: "btn btn-outline-danger my-2 my-sm-0 ml-sm-2") %> 
    <% else %>
      <%= link_to "Sign In", new_user_session_path, class: "btn btn-outline-success my-2 my-sm-0 ml-sm-2" %>
    <% end %>
  </div>
</nav>