<%
 title "#{app_title} - Unlock Account"
 meta_description app_title
 heading "Unlock Account on #{app_title}"
 pclass "login-page"
%>

<div class="wrapper">
  <div class="page-header">
    <div class="page-header-image signin_background">
      <div class="content-center">
        <div class="row">
          <div class="container">

          </div>
        </div>
      </div>
    </div>
      <%= render 'shared/flash' %>
      <div class="content">
        <div class="row">
          <div class="container">
            <div class="col-md-5 ml-auto mr-auto form-box">
              <div class="card card-login card-plain">
                <h4 class="card-title ">Send Unlock Account Instructions</h4>

                <div class="card-body">
                  <%= form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f| %>
                    <%= devise_error_messages! %>
                  
                    <div class="input-group form-group-no-border input-lg">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><%= icon('far', 'envelope')%></span>
                      </div>
                      <%= f.email_field :email, autocomplete: "email", class: "form-control", placeholder: "Your Email..." %>
                    </div>

                    <div class="input-group recaptcha">
                      <%= recaptcha_tags %>
                    </div>

                    <div class="card-footer text-center">
                      <%= f.submit "Send Instructions", class: "btn btn-primary btn-round btn-lg" %>
                    </div>
                    <div class="pull-left">
                      <h6>
                        <%= link_to "Create Account", new_user_registration_path, class: "link footer-link" %>
                      </h6>
                    </div>
                    <div class="pull-right">
                      <h6>
                        <%= link_to "Need Help?", "#", class: "link footer-link", "data-toggle" => "modal", "data-target" => "#need_help_modal" %>
                      </h6>
                    </div>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


    </div>
  </div>
</div>

<%= render 'devise/shared/modal_links' %>