<div class="tab-pane active show" id="overview">
  <h2 class="h4 g-font-weight-300">Overview of your Profile</h2>
  <p>Below are details we have on file for your account.</p>

  <ul class="list-unstyled">
    <li class="d-flex justify-content-between g-brd-bottom g-py-15 g-brd-gray-light-v4">
      <div class="">
        <strong class="g-width-200">Name</strong>
        <span class="align-top"><%= current_user.name.titleize %></span>
      </div>
      <span>
        <%= icon('fas', 'pen', class: "g-color-gray-dark-v5 g-color-primary--hover") %>
      </span>
    </li>

    <li class="d-flex justify-content-between g-brd-bottom g-py-15 g-brd-gray-light-v4">
      <div class="">
        <strong class="g-width-200">Email</strong>
        <span class="align-top"><%= current_user.email.downcase %></span>
      </div>
      <span>
        <%= icon('fas', 'pen', class: "g-color-gray-dark-v5 g-color-primary--hover") %>
      </span>
    </li>

    <li class="d-flex justify-content-between g-brd-bottom g-py-15 g-brd-gray-light-v4">
      <div class="">
        <strong class="g-width-200">Localation</strong>
        <span class="align-top"><%= current_user.location %></span>
      </div>
      <span>
        <%= icon('fas', 'pen', class: "g-color-gray-dark-v5 g-color-primary--hover") %>
      </span>
    </li>

    <li class="d-flex justify-content-between g-brd-bottom g-py-15 g-brd-gray-light-v4">
      <div class="">
        <strong class="g-width-200">Account Type</strong>
        <span class="align-top"><%= current_user.provider.titleize %></span>
      </div>
    </li>

    <li class="d-flex justify-content-between g-brd-bottom g-py-15 g-brd-gray-light-v4">
      <div class="">
        <strong class="g-width-200">Account ID</strong>
        <span class="align-top"><%= current_user.id %></span>
      </div>
    </li>

    <li class="d-flex justify-content-between g-brd-bottom g-py-15 g-brd-gray-light-v4">
      <div class="">
        <strong class="g-width-200">Account Confirmed On</strong>
        <span class="align-top"><%= current_user.confirmed_at %></span>
      </div>
    </li>

    <li class="d-flex justify-content-between g-brd-bottom g-py-15 g-brd-gray-light-v4">
      <div class="">
        <strong class="g-width-200">Account Created On</strong>
        <span class="align-top"><%= current_user.created_at %></span>
      </div>
    </li>


  </ul>
</div>