
  <h2 class="h4 g-font-weight-300">Overview of your Profile</h2>
  <p>Below are details we have on file for your account.</p>

  <ul class="list-unstyled">
    <li class="d-flex justify-content-between g-brd-bottom g-py-15 g-brd-gray-light-v4">
      <div class="">
        <strong class="g-width-200">Name</strong>
        <span class="align-top"><%= @user.name.titleize %></span>
      </div>
    </li>

    <li class="d-flex justify-content-between g-brd-bottom g-py-15 g-brd-gray-light-v4">
      <div class="">
        <strong class="g-width-200">Email</strong>
        <span class="align-top"><%= @user.email.downcase %></span>
      </div>
    </li>

    <li class="d-flex justify-content-between g-brd-bottom g-py-15 g-brd-gray-light-v4">
      <div class="">
        <strong class="g-width-200">Localation</strong>
        <span class="align-top"><%= @user.location %></span>
      </div>
    </li>

    <li class="d-flex justify-content-between g-brd-bottom g-py-15 g-brd-gray-light-v4">
      <div class="">
        <strong class="g-width-200">Account Type</strong>
        <span class="align-top"><%= @user.provider.titleize %></span>
      </div>
    </li>

    <li class="d-flex justify-content-between g-brd-bottom g-py-15 g-brd-gray-light-v4">
      <div class="">
        <strong class="g-width-200">Account ID</strong>
        <span class="align-top"><%= @user.id %></span>
      </div>
    </li>

    <li class="d-flex justify-content-between g-brd-bottom g-py-15 g-brd-gray-light-v4">
      <div class="">
        <strong class="g-width-200">Account Confirmed On</strong>
        <span class="align-top">
          <% if @user.confirmed_at.nil? %>
            Account is pending (Account will automatically expirer at <%= (@user.confirmation_sent_at + 2.hours).in_time_zone(@user.tz) %>)
          <% else %>
            <%= @user.confirmed_at.in_time_zone(@user.tz) %>
          <% end %>
        </span>
      </div>
    </li>

    <li class="d-flex justify-content-between g-brd-bottom g-py-15 g-brd-gray-light-v4">
      <div class="">
        <strong class="g-width-200">Account Created On</strong>
        <span class="align-top"><%= @user.created_at.in_time_zone(@user.tz) %></span>
      </div>
    </li>


  </ul>
