<%
 title "#{app_title} - About Us"
 meta_description "About Us - #{app_title}"
 heading "About Us!"
 pclass "signin-page"
 heading_desc "Meet the amazing team behind this project and find out more about how we work."
%>



<div class="section">
  <div class="about-description text-center">
    <div class="features-3">
      <div class="container">
        <div class="row">
          <div class="col-md-8 mr-auto ml-auto">
            <h2 class="title">Simpler. Smarter. Faster.</h2>
            <h4 class="description">We are a tech company at heart and we do want we do because we want to make life
              easier and better for everyone.</h4>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="info info-hover">
              <div class="icon icon-success icon-circle">
                <i class="now-ui-icons objects_globe"></i>
              </div>
              <h4 class="info-title">Asset Management</h4>
              <p class="description">Cross-account dashboards provide sophisticated reporting for enterprise.</p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="info info-hover">
              <div class="icon icon-info icon-circle">
                <i class="now-ui-icons education_atom"></i>
              </div>
              <h4 class="info-title">Resource Utilization</h4>
              <p class="description">CloudCheckr provides summary and detailed usage statistics for resources.</p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="info info-hover">
              <div class="icon icon-primary icon-circle">
                <i class="now-ui-icons tech_watch-time"></i>
              </div>
              <h4 class="info-title">Self-Healing</h4>
              <p class="description">CloudCheckr enables users to save money, time, and effort.</p>
            </div>
          </div>
        </div>
      </div>

      <div class="separator-line separator-primary"></div> #%>

      <div class="about-team team-4">
        <div class="container">
          <div class="row">
            <div class="col-md-8 ml-auto mr-auto text-center">
              <h2 class="title">We are nerd rockstars</h2>
              <h4 class="description">Techies at heart, out to change the world and making life just that little bit
                easier
                at each step.</h4>
            </div>
          </div>

          <div class="row">
            <div class="col-xl-6 col-lg-7 ml-auto mr-auto">
              <div class="card card-profile card-plain">
                <div class="row">
                  <div class="col-md-5">
                    <div class="card-image">
                      <%= image_tag ("olivia.jpg"), class: "img img-raised rounded" %>
                    </div>
                  </div>
                  <div class="col-md-7">
                    <div class="card-body">
                      <h4 class="card-title">Ella Evelyn</h4>
                      <h6 class="category">Air Crew Member</h6>
                      <p class="card-description">
                        Think in the morning. Act in the noon. Eat in the evening. Sleep in the night......
                      </p>
                      <div class="card-footer">
                        <%= link_to icon('fab', 'facebook'), "#", class: "btn btn-icon btn-neutral btn-facebook" %>
                        <%= link_to icon('fab', 'twitter'), "#", class: "btn btn-icon btn-neutral btn-twitter" %>
                        <%= link_to icon('fab', 'linkedin'), "#", class: "btn btn-icon btn-neutral btn-linkedin" %>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-6 col-lg-7 ml-auto mr-auto">
              <div class="card card-profile card-plain">
                <div class="row">
                  <div class="col-md-5">
                    <div class="card-image">
                      <%= image_tag ("james.jpg"), class: "img img-raised rounded" %>
                    </div>
                  </div>
                  <div class="col-md-7">
                    <div class="card-body">
                      <h4 class="card-title">Mila Skylar</h4>
                      <h6 class="category">Architect</h6>
                      <p class="card-description">
                        Love cures people - both the ones who give it and the ones who receive it...
                      </p>
                      <div class="card-footer">
                        <%= link_to icon('fab', 'facebook'), "#", class: "btn btn-icon btn-neutral btn-facebook" %>
                        <%= link_to icon('fab', 'twitter'), "#", class: "btn btn-icon btn-neutral btn-twitter" %>
                        <%= link_to icon('fab', 'linkedin'), "#", class: "btn btn-icon btn-neutral btn-linkedin" %>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="separator-line separator-primary"></div>

      <div class="about-contact">
        <div class="container">
          <div class="row">
            <div class="col-md-8 mr-auto ml-auto">
              <h2 class="text-center title">Want to work with us?</h2>
              <h4 class="text-center description">We are always on the look out for people that stand above the rest,
                who
                don't mind a start-up culture but also want to do things the right way.</h4>
              <%= form_for @job, url: about_us_url, id: "contact-form" do |f| %>
              <%= form_errors_for @job %>
              <%= f.hidden_field :phone, value: '00000' %>
              <div class="row">
                <div class="col-md-4">
                  <%= f.label :name, "Your Name" %>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="now-ui-icons users_circle-08"></i></span>
                    </div>
                    <%= f.text_field :name, autocomplete: "name", class: "form-control", placeholder: "Your Name...." %>
                  </div>
                </div>
                <div class="col-md-4">
                  <%= f.label :email, "Your Email" %>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="now-ui-icons ui-1_email-85"></i></span>
                    </div>
                    <%= f.email_field :email, autocomplete: "email", class: "form-control", placeholder: "Your Email...." %>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <%= f.label :speciality, "Speciality", class: "control-label" %>
                    <%= f.select(:speciality, ["I'm a Designer", "I'm a Developer", "I'm a Hero"], {}, {class: "selectpicker", "data-size" => "7", "data-style" => "btn btn-default btn-round mt-0", title: "Speciality"} ) %>

                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4 ml-auto mr-auto text-center">
                  <%= f.submit "Let's Talk", class: "btn btn-primary btn-round mt-4 btn-lg" %>
                </div>
              </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>