<!doctype html>
<html lang="en">

<head>
  <title>
    <%= yield :title %>
  </title>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' />
  <meta name="author" content="Philip Davies - SonicTexture.co.uk">
  <meta name="description" content="<%= yield :meta_description %>" />

  <%= action_cable_meta_tag %>

  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>

  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <!--[if lt IE 9]>
  <script
      src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
  <script
      src="//cdnjs.cloudflare.com/ajax/libs/json3/3.3.2/json3.min.js"></script>
  <script
      src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.js"></script>
  <![endif]-->
</head>

<body class="<%= yield :pclass %>">

  <%= render 'layouts/nav/header'%>
  <%= render 'layouts/google_analytics' %>
  <%= render 'layouts/hotjar' %>

  <% if ( ["sessions", "registrations", "confirmations", "unlocks", "passwords"].include? controller_name ) && !signed_in? %>
    <%= yield %>
  <% else %>
    <div class="wrapper">
      <div class="page-header page-header-small">
        <div class="page-header-image <%= " #{params[:controller]}_#{params[:action]}" %>_background" data-parallax="true">
        </div>
        <div class="content-center">
          <div class="row">
            <div class="col-md-8 ml-auto mr-auto">
              <h1 class="title">
                <%= yield :heading %>
              </h1>
              <h4>
                <%=  (yield :heading_desc).html_safe %>
              </h4>
              <% if @soical_heading %>
              <div class='text-center'>
                <%= link_to "#", class: "btn btn-primary btn-icon  btn-round" do %>
                <%= icon('fab', 'facebook') %>
                <% end %>
                <%= link_to "#", class: "btn btn-primary btn-icon  btn-round" do %>
                <%= icon('fab', 'twitter') %>
                <% end %>
                <%= link_to "#", class: "btn btn-primary btn-icon  btn-round" do %>
                <%= icon('fab', 'google-plus') %>
                <% end %>
              </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
      <%= render 'shared/flash' %>
      <%= yield %>
    </div>
  <% end %>
  <%= render 'layouts/nav/footer' %>
  <%= render 'layouts/debug' %>
</body>
<script>hljs.initHighlightingOnLoad();</script>
</html>